html {
  background: #020617;
}

body {
  margin: 0;
  padding: 0;
  background: #020617;
  color: white;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
#root, body, html {
  min-height: 100%;
}