/* RESET TOTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND GLOBAL */
html, body {
  background-color: #020617 !important;
  color: white;
  min-height: 100%;
}

/* FIX MOBILE SAFARI (IMPORTANT) */
body {
  min-height: 100vh;
  min-height: 100dvh; /* 🔥 FIX moderne */
  overflow-x: hidden;
}

/* SUPPRIME ESPACE BLANC */
#__next {
  min-height: 100%;
  background: #020617;
}
body {
  padding-bottom: env(safe-area-inset-bottom);
}